@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJA.ttf)
    format("truetype");
}

@-webkit-keyframes crt-glow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
}
@keyframes crt-glow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
}
@-webkit-keyframes crt-output {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
}
@keyframes crt-output {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: "VT323";
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4rem;

  text-transform: uppercase;
}

a,
a:visited {
  border-bottom: 0.2rem solid #14fdce;
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  background-color: #14fdce;
  color: #031e11;
}
.piece {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.noclick {
  pointer-events: none;
}
.frame {
  background-color: transparent;
  border-radius: 16px;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  pointer-events: none;
}

.output {
  -webkit-animation: crt-output 10ms infinite;
  animation: crt-output 10ms infinite;

  pointer-events: auto;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  z-index: -1;
}

.scanlines {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.6)
  );
  background-size: 100% 0.3rem;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
}
.glow {
  z-index: 1;
  -webkit-animation: crt-glow 60s infinite;
  animation: crt-glow 60s infinite;
  background: radial-gradient(
    circle at center,
    #1b5cd4 0%,
    rgba(27, 147, 212, 0.88) 58%,
    rgba(21, 192, 235, 0.57) 80%,
    rgba(12, 55, 80, 0.27) 93%,
    rgba(17, 35, 52, 0) 100%
  );
  opacity: 0.15;
  pointer-events: none;
  position: fixed;
}

::-moz-selection,
::selection {
  background-color: #14fdce;
  color: #031e11;
}
