@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url(/pixelated.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}
body {
  background: #383838;
  color: #14fdce;
  font-family: "VT323";
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4rem;

  text-transform: uppercase;
}

a,
a:visited {
  border-bottom: 0.2rem solid #14fdce;
  color: #14fdce;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  background-color: #14fdce;
  color: #031e11;
}
.piece {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.noclick {
  pointer-events: none;
}
.frame {
  background-color: transparent;

  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.output {
  pointer-events: auto;
  text-shadow: 0rem 0.2rem 1rem #0c7b46;
  z-index: -1;
}

.scanlines {
  opacity: 0.4;

  background: url(/scanline.png) repeat;

  background-size: 100% 0.3rem;
  border-radius: 16px;
  position: absolute;
  z-index: 1;
}
.glow {
  z-index: 3;

  background: #1b5cd4;
  opacity: 0.15;
  pointer-events: none;
  position: fixed;
}

::-moz-selection,
::selection {
  background-color: #14fdce;
  color: #031e11;
}
